@{
    ViewData["Title"] = "Home Page";
}
<form class="form-group" method="post">
    <div>
        <label>ID</label>
        <input type="text" class="form-control" name="ID"
    </div>
    <div>
        <label>Sehir</label>
        <input type="text" class="form-control" name="Sehir"
    </div>
    <div>
        <label>Derece</label>
        <input type="text" class="form-control" name="Derece"
    </div>
    <div>
        <button class="btn btn-info">Hava Durumu Ekle</button>
    </div>
</form>